@using FrostAura.Libraries.Components.Abstractions
@inherits BaseComponent<DynamicField>

<InjectEmbeddedContent ContentName="DynamicField.razor.css" HtmlWrapper="style" />
<fa-input-dynamic-field id="@Id" class="form-group">
    <label for="@_fieldId">@_fieldLabel</label>
    <div>
        @GenerateInputComponent()
        @GenerateValidationComponent()
    </div>
</fa-input-dynamic-field>