@inherits BaseAuthenticatedComponent<NavigationSidebar>

<InjectEmbeddedContent ContentName="NavigationSidebar.razor.css" HtmlWrapper="style" />
<fa-navigation-sidebar class="navigation-sidebar">
    <header>
        <i class="fa fa-bars mobile-only" @onclick="ToggleNavMenu"></i>
        <object class="no-mobile" type="image/svg+xml" data="@Configuration.AppIconSvgUrl"></object>
        <div @onclick="NavigateHome" class="mobile-only">@PageTitle</div>
    </header>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul>
            <AuthorizeView>
                <Authorized>
                    @foreach (var navItem in Configuration
                       .NavigationItems
                       .Where(ni => ni.RequireAuthentication))
                    {
                        <li>
                            <NavLink ActiveClass="nav-link-selected" href="@navItem.Path" Match="@navItem.MatchType">
                                <i class="@navItem.IconCssClass" aria-hidden="true"></i>
                                <div class="no-wrap">@navItem.Title</div>
                            </NavLink>
                        </li>
                    }
                </Authorized>
                <NotAuthorized>
                    @foreach (var navItem in Configuration
                       .NavigationItems
                       .Where(ni => !ni.RequireAuthentication))
                    {
                        <li>
                            <NavLink ActiveClass="nav-link-selected" href="@navItem.Path" Match="@navItem.MatchType">
                                <i class="@navItem.IconCssClass" aria-hidden="true"></i>
                                <div class="no-wrap">@navItem.Title</div>
                            </NavLink>
                        </li>
                    }
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>

    <footer class="no-mobile">Made by FrostAura</footer>
</fa-navigation-sidebar>
<InjectEmbeddedContent ContentName="NavigationSidebar.razor.js" HtmlWrapper="script" />